@import "./font.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(250, 250, 250);
}
header {
  height: 90vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/21-213153_forex-trading-account-forex-trading.jpg");
  background-position: center;
  background-size: cover cover;
  background-repeat: no-repeat;
}
.nav ul {
  margin: 0 auto;
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Light.ttf";
  background: rgba(3, 2, 2, 0.1);
  /* border: 1px solid lightslategray; */
  border-radius: 10px;
}
.nav ul li {
  padding: 18px;
}
.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}
.nav ul li:hover a {
  opacity: 1;
  color: rgb(165, 26, 26);
  transition: 0.25s ease-in;
}
.content-header {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50vw;
  height: 50vh;
  position: relative;
  bottom: 400px;
}
.content-header .container {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  flex-basis: 100%;
}
.content-header .content {
  position: relative;
  bottom: 90px;
  padding: 30px;
  text-align: left;
}
.content-header .content h1 {
  width: 30vw;
  color: rgb(202, 202, 202);
  font-size: 2rem;
  font-weight: 500;
  z-index: 1;
  font-family: "Roboto-Black.ttf";
}
.btn-demo {
  background: rgb(80, 56, 56);
  position: relative;
  top: 20px;
  border: 0px;
  padding: 20px;
  padding-right: 50px !important;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
}

.btn-demo:hover {
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: ease 1s;
}
.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 68vh !important;
  bottom: 85px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  left: 350px;
  border-radius: 10px;
  z-index: 1;
}
.form-control h3 {
  text-align: left;
  font-size: 1.6rem;
  width: 25vw;
  position: relative;
  top: 5px;
  font-weight: 200;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Roboto-Black.ttf";
}
.form-control p {
  color: black;
  font-weight: 100;
  font-size: 1.5rem;
  position: relative;
  top: 5px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: "Montserrat-Light.ttf";
}
.form-control form {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.form-control form input {
  position: relative;
  top: 1px;
  background: transparent;
  border: 1px solid black;
  padding: 13px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}
.form-control form input::placeholder {
  font-family: "Montserrat-Light.ttf";
}
.form-control form input:focus {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #000;
  transition: 2s ease-in;
}

.btn-demo-submit {
  background: rgb(80, 56, 56);
  position: relative;
  top: 20px;
  border: 0px;
  padding: 10px;
  padding-right: 50px !important;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
  font-family: "Montserrat-Light.ttf";
}
.content-header::after,
.content-header::before {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255);
  height: 100px;
  width: calc(99vw + 1px);
  outline: hidden;
  bottom: -150px;
  right: 0px;
  left: 0px;
  transform: skewY(-5deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
}
.trade-platform {
  clear: both;
  position: relative;
  bottom: 150px;
}
.trade-platform .container .trade-header-content h2 {
  color: #333;
  text-align: center;
  margin: 0 auto;
  font-size: 1.55rem;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Roboto-Black.ttf";
}
.trade-platform .container .trade-header-content p {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 80;
  font-family: "Montserrat-Light.ttf";
}
.trade-packages .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.trade-packages .container div h2 {
  padding: 30px;
  font-family: "Montserrat-Medium.ttf";
  text-align: center;
}
.trade-packages .container .trade-beginner,
.trade-packages .container .trade-expert,
.trade-packages .container .trade-mediate {
  background: #fff;
  margin-top: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
.trade-packages .container .trade-beginner p {
  color: rgb(110, 110, 110);
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: "Montserrat-Light.ttf";
  font-size: 0.65rem;
  font-style: italic;
  font-weight: 800;
  left: -15px;
}
.trade-packages .container .trade-beginner ul,
.trade-packages .container .trade-expert ul,
.trade-packages .container .trade-mediate ul {
  list-style: circle;
  padding: 10px 10px;
}
.trade-packages .container .trade-beginner ul li,
.trade-packages .container .trade-expert ul li,
.trade-packages .container .trade-mediate ul li {
  margin-left: 40px;
  font-size: 0.75rem;
  font-weight: 900;
  padding: 5px;
  font-family: "Montserrat-Light.ttf";
  text-transform: capitalize;
}
.trade-beginner .btn-subscribe {
  padding: 15px;
  margin-left: 20px;
  background: rgb(80, 56, 56);
  text-align: center;
  width: 20vw;
  font-family: "Montserrat-Light.ttf";
  color: #fff;
  font-weight: 800;
  font-size: 1.1rem;
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.trade-expert .btn-subscribe,
.trade-mediate .btn-subscribe {
  padding: 15px;
  margin-left: 30px;
  background: rgb(80, 56, 56);
  font-family: "Montserrat-Light.ttf";
  text-align: center;
  font-weight: 800;
  font-size: 1.1rem;
  width: 21vw;
  color: #fff;
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.trade-packages .container .trade-mediate {
  background: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.trade-packages .container .trade-mediate p {
  color: rgb(110, 110, 110);
  position: relative;
  bottom: 20px;
  text-align: center;
  font-size: 0.65rem;
  width: 23vw;
  margin: 0 auto;
  padding: 5px 5px;
  font-family: "Montserrat-Light.ttf";
  font-style: italic;
  font-weight: 800;
}
.trade-packages .container .trade-expert {
  background: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.trade-packages .container .trade-expert p {
  color: rgb(110, 110, 110);
  position: relative;
  bottom: 20px;
  text-align: center;
  font-size: 0.65rem;
  width: 25vw;
  margin: 0 auto;
  padding: 5px 5px;
  font-style: italic;
  font-weight: 800;
  font-family: "Montserrat-Light.ttf";
}
/* Subscribe platform styling */
.subscribe {
  background: #fff;
  height: 60vh;
}
.subscribe .container .subscribe-content {
  padding: 30px 30px;
}
.subscribe .container .subscribe-content h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
  font-family: "Roboto-Black.ttf";
}
.subscribe .container .subscribe-content-disp {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding: 0px !important;
}
.subscribe .container .con {
  transition: ease-in 0.4s;
  overflow: hidden;
}
.subscribe .container .con:hover,
.subscribe .container .con:focus {
  overflow: hidden;
  background-color: rgb(241, 241, 241);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.subscribe .container .subscribe-content-disp .content {
  margin: 0 auto;
}
.subscribe .container .subscribe-content-disp .content h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Montserrat-Light.ttf";
}
.subscribe-content-disp .content .img-resize {
  height: 100px;
  width: 150px;
}
/* footer */
.footer {
  background: #000;
  padding-top: 20px !important;
  padding-bottom: 100px !important;
  height: 40vh !important;
  color: #fff;
}
.footer .container {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
}
.footer .container .flex-content {
  display: flex;
  flex-direction: row;
}
.footer h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 30px;
  text-align: center;
  font-family: "Roboto-Black.ttf";
}
.footer .container .footer-content p {
  margin: 0 auto;
  margin-top: 20px;
  width: 31vw;
  font-size: 0.8rem;
  padding-top: 20px;
  padding-left: 20px;
  color: #999;
  text-align: left;
  font-family: "Montserrat-Medium.ttf";
}
.footer .container .footer-socials {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
  text-align: center;
  font-family: "Montserrat-Medium.ttf";
}
.footer .container .footer-socials ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.footer .container .footer-socials ul li {
  margin-top: 10px;
  padding: 10px;
  /* transition: 0.4s ease-out; */
}
.footer .container .footer-socials ul li a:hover {
  overflow: hidden;
  background-color: rgb(241, 241, 241);
  padding: 10px;
  color: #000;
  transition: 0.77s ease-out;
}
.footer .container .footer-socials ul li a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Montserrat-Light.ttf";
  transition: 0.77s ease-out;
}
.footer-subscribe {
  margin-top: 30px;
  margin-left: 100px;
}
.footer-subscribe p {
  font-family: "Montserrat-Medium.ttf";
}
.footer-subscribe input[type="email"] {
  padding: 10px;
  border: 0px;
  outline: hidden;
  margin-top: 10px;
}
.footer-subscribe input[type="submit"] {
  background: red;
  border: 0px;
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  position: absolute;
  right: 72px;
  cursor: pointer;
}

/* Responsiveness for tablets and other devices*/
@media only screen and (max-width: 600px) {
  header {
    height: 90vh !important;
  }
  .nav ul {
    border: 0px;
    border-radius: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  .nav ul li {
    padding: 15px;
    font-size: 0.55rem;
  }
  .nav ul li a {
    font-size: 0.75rem;
    padding: 0px;
  }
  .content-header {
    /* background-color: red; */
    width: 100% !important;
    height: 100% !important;
  }
  .content-header .container {
    display: flex;
    flex-direction: column;
  }
  .content-header .content {
    padding: 20px !important;
    text-align: left;
    position: relative;
    bottom: 160px !important;
  }
  .content-header .content h1 {
    width: 90vw !important;
    color: #fff;
    font-size: 1.7rem !important;
    font-weight: 500;
    z-index: 1;
    margin-top: -35px !important;
  }
  .btn-demo {
    background-color: rgb(80, 56, 56);
    position: relative;
    top: 20px;
    border: 0px;
    padding: 15px !important;
    padding-right: 50px !important;
    color: #fff;
    font-size: 1.2rem !important;
    font-weight: 300;
    border-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    outline: none;
    font-family: "Montserrat-Light.ttf";
  }
  .btn-demo-submit {
    background: rgb(80, 56, 56);
    position: relative;
    top: 10px;
    padding: 10px !important;
    font-size: 1.3rem !important;
    font-family: "Montserrat-Light.ttf";
  }
  .form-control {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 20px !important;
    height: 48vh !important;
    width: 80vw !important;
    border-radius: 10px !important;
    z-index: 1;
    left: 45px !important;
    top: -90px !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  }
  .form-control h3 {
    text-align: left;
    font-size: 1.3rem !important;
    width: 70vw !important;
    position: relative;
    top: 2px !important;
    font-weight: 200;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: "Roboto-Black.ttf";
  }
  .form-control p {
    color: black;
    font-weight: 100;
    font-size: 1.2rem !important;
    padding-bottom: 10px !important;
    text-transform: capitalize;
    font-family: "Montserrat-Light.ttf";
    position: relative;
    top: -5px !important;
  }
  .form-control form input {
    position: relative;
    top: -10px !important;
    padding: 11px !important;
  }
  .content-header::after,
  .content-header::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 95px !important;
    width: 100vw !important;
    bottom: 120px !important;
    right: 0px;
    left: 0px;
    transform: skewY(-3deg) !important;
    visibility: visible !important;
  }
  .trade-platform {
    clear: both;
    position: relative;
    bottom: 500px !important;
    z-index: 1;
  }
  .trade-packages .container .trade-beginner .btn-subscribe {
    width: 70vw !important;
    font-size: 1rem !important;
    font-weight: 300;
    padding: 10px !important;
  }
  .trade-platform .container .trade-header-content h2 {
    color: #333;
    text-align: center;
    margin: 0 auto !important;
    width: 100vw !important;
    font-size: 1.2rem !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-family: "Roboto-Black.ttf";
  }
  .trade-platform .container .trade-header-content p {
    text-align: center;
    font-size: 0.65rem !important;
    width: 90vw !important;
    margin: 0 auto;
    font-weight: lighter;
    padding-top: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
  }
  .trade-packages .container .trade-mediate h2,
  .trade-packages .container .trade-expert h2,
  .trade-packages .container .trade-beginner h2 {
    text-align: center;
    font-size: 1.3rem !important;
    color: rgb(80, 56, 56) !important;
    font-family: "NotoSansJP-Medium.otf";
  }
  .trade-packages .container .trade-beginner p {
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 0.6rem !important;
    margin-left: 30px !important;
    font-weight: 800 !important;
    font-family: "Montserrat-Light.ttf";
    padding-bottom: 20px !important;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  .trade-packages .container .trade-mediate p,
  .trade-packages .container .trade-expert p {
    color: rgb(110, 110, 110);
    padding-bottom: 20px !important;
    border-bottom: 1px solid rgb(231, 231, 231);
    text-align: center;
    font-size: 0.55rem !important;
    width: 70vw !important;
  }
  .trade-packages .container .trade-mediate,
  .trade-packages .container .trade-expert,
  .trade-packages .container .trade-beginner {
    background: rgb(255, 255, 255);
    margin-left: 10px !important;
    width: 80vw !important;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .trade-packages .container .trade-mediate .btn-subscribe,
  .trade-packages .container .trade-expert .btn-subscribe {
    text-align: center;
    width: 67vw !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    padding: 10px !important;
  }
  /* Subscribe Responsiveness */
  .subscribe {
    margin-top: -400px !important;
    height: 90vh !important;
    padding: 0px !important;
  }
  .subscribe .subscribe-content h2 {
    color: rgb(218, 218, 218) !important;
    text-align: center !important;
    background-color: rgb(2, 2, 2) !important;
    font-size: 1.7rem !important;
    padding: 15px !important;
  }
  .subscribe .container .subscribe-content-disp {
    margin-top: -10px !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 0px !important;
  }
  .subscribe .container .subscribe-content-disp .con {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }
  .footer {
    height: 68vh !important;
  }
  .footer .container {
    display: inline-flex !important;
    flex-direction: column !important;
  }
  .footer .container .flex-content {
    display: flex !important;
    flex-direction: column !important;
  }
  .footer .container .footer-content p {
    margin-top: 10px !important;
    width: 97% !important;
    margin-left: 5px !important;
    font-size: 0.8rem !important;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #999 !important;
    text-align: left;
  }
  .footer .container .footer-socials {
    margin-top: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-left: 10px !important;
    text-align: center;
  }
  .footer .container .footer-socials p {
    text-align: center;
    position: relative;
    left: 100px;
    bottom: 20px;
  }
  /* .footer .container .border {
    position: relative;
    top: 20px !important;
    left: 30px !important;
    width: 80% !important;
    border-top: 1px solid rgb(219, 219, 219) !important;
  } */
  .footer .container .footer-socials p {
    padding: 0px !important;
    text-align: center;
    margin-left: -30px !important;
  }
  .footer .container .footer-socials ul li {
    position: relative;
    left: 30px !important;
  }

  .footer .container .footer-subscribe {
    position: relative;
    bottom: 30px;
  }
  .footer-subscribe input[type="email"] {
    padding: 10px !important;
    border: 0px !important;
    outline: hidden !important;
    width: 67vw !important;
    position: relative;
    bottom: 5px;
    left: -105px !important;
  }
  .footer-subscribe .submit-btn {
    background-color: rgb(255, 82, 59) !important;
    position: relative;
    top: -51px !important;
    right: -172px !important;
  }
  .footer h3 {
    position: relative;
    bottom: -5px !important;
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 150vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../img/21-213153_forex-trading-account-forex-trading.jpg");
    background-position: center;
    background-size: cover cover;
    background-repeat: no-repeat;
  }
  .nav ul {
    width: 60%;
    border: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat-Light.ttf";
    background: rgba(3, 2, 2, 0.1);
    /* border: 1px solid lightslategray; */
    border-radius: 10px;
  }
  .nav ul li {
    padding: 15px;
  }
  .nav ul li a {
    font-size: 0.85rem;
    padding: 0px;
  }
  .content-header .content {
    padding: 20px !important;
    text-align: left;
    position: relative;
    bottom: 160px;
  }
  .content-header .content h1 {
    width: 40vw;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
    margin-top: 60px;
  }
  .btn-demo {
    background-color: rgb(80, 56, 56);
    position: relative;
    top: 20px;
    border: 0px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
    font-family: "Montserrat-Light.ttf";
  }
  .btn-demo-submit {
    background: rgb(80, 56, 56);
    position: relative;
    top: 5px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat-Light.ttf";
  }
  .form-control {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 75vh;
    height: 73vh;
    border-radius: 10px;
    z-index: 1;
    left: 80px;
    top: -90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  }
  .form-control h3 {
    text-align: left;
    font-size: 1rem;
    width: 70vw;
    position: relative;
    top: 2px;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto-Black.ttf";
  }
  .form-control p {
    color: black;
    font-weight: 100;
    font-size: 0.9rem;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: "Montserrat-Light.ttf";
    position: relative;
    top: -5px;
  }
  .form-control form input {
    position: relative;
    top: -10px;
    padding: 5px;
  }
  .form-control form input::placeholder {
    font-size: 0.8rem;
    padding: 5px;
  }
  .content-header::after,
  .content-header::before {
    visibility: hidden;
    content: "";
    position: absolute;
    background-color: #fff;
    height: 95px;
    width: 105vw;
    top: 353px;
    right: 0px;
    left: 0px;
    transform: skewY(-3deg);
  }
  .trade-platform {
    clear: both;
    position: relative;
    bottom: 150px;
    z-index: 1;
  }
  .trade-packages .container .trade-beginner .btn-subscribe {
    width: 75vw;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px !important;
  }
  .trade-platform .container .trade-header-content h2 {
    color: #333;
    text-align: center;
    margin: 0 auto;
    width: 90vw;
    font-size: 1.5rem;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 100;
    text-transform: capitalize;
  }
  .trade-platform .container .trade-header-content p {
    text-align: center;
    font-size: 1rem;
    width: 80vw;
    margin: 0 auto;
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .trade-packages .container .trade-mediate h2,
  .trade-packages .container .trade-expert h2,
  .trade-packages .container .trade-beginner h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(80, 56, 56);
    font-family: "NotoSansJP-Medium.otf";
  }
  .trade-packages .container .trade-beginner p {
    color: rgb(110, 110, 110);
    text-align: center;
    font-size: 0.85rem;
    margin-left: 30px;
    font-weight: 800;
    font-family: "Montserrat-Light.ttf";
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }
  .trade-packages .container .trade-mediate p,
  .trade-packages .container .trade-expert p {
    color: rgb(110, 110, 110);
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    text-align: center;
    font-size: 0.85rem;
    width: 70vw;
  }
  .trade-packages .container .trade-mediate,
  .trade-packages .container .trade-expert,
  .trade-packages .container .trade-beginner {
    background: rgb(255, 255, 255);
    margin-left: 10px;
    width: 80vw;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .trade-packages .container .trade-mediate .btn-subscribe,
  .trade-packages .container .trade-expert .btn-subscribe {
    text-align: center;
    width: 74vw;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px !important;
  }
  .trade-packages .container .trade-beginner ul li,
  .trade-packages .container .trade-expert ul li,
  .trade-packages .container .trade-mediate ul li {
    margin-left: 40px;
    font-size: 0.75rem;
    font-weight: 900;
    padding: 5px;
    cursor: pointer;
    font-family: "Montserrat-Light.ttf";
    text-transform: capitalize;
  }
  .subscribe {
    margin-top: -50px;
    height: 90vh;
    padding: 0px !important;
  }
  .subscribe .subscribe-content h2 {
    color: rgb(80, 56, 56);
    text-align: center;
    font-size: 2.5rem;
    padding: 15px;
  }
  .subscribe .container .subscribe-content-disp {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    padding: 0px !important;
  }
  .subscribe .container .subscribe-content-disp .con {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }
  .footer {
    height: 90vh;
  }
  .footer .container {
    display: inline-flex;
    flex-direction: column;
  }
  .footer .container .footer-content p {
    margin-top: 10px;
    width: 97%;
    margin-left: 5px;
    font-size: 0.8rem;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999;
    text-align: left;
  }
  .footer .container .footer-socials {
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vw;
    margin-left: 5px;
    text-align: left;
  }
  .footer .container .border {
    position: relative;
    top: 20px;
    width: 105vw;
    border-top: 1px solid rgb(219, 219, 219);
  }
  .footer .container .footer-socials p {
    text-align: center;
    padding: 10px;
    color: rgb(238, 238, 238);
    margin-left: -90px;
    font-family: "NotoSansJP-Medium.otf";
  }
  .footer .container .footer-socials ul li {
    position: relative;
    left: 10px;
    top: -15px;
  }

  .footer .container .footer-socials ul li a {
    font-size: 0.8rem;
    font-family: "Montserrat-Light.ttf";
    font-size: 500;
  }
  .footer .container .flex-content {
    display: flex;
    flex-direction: row;
  }

  .footer .container .footer-subscribe {
    margin-top: 40px;
    margin-left: 150px;
  }
  .footer .container .footer-subscribe p {
    text-align: left;
    margin-left: -70px;
    margin-top: 3px;
  }
  .footer-subscribe input[type="email"] {
    padding: 10px;
    border: 0px;
    outline: hidden;
    margin-top: 20px;
    width: 40vw;
    position: relative;
    left: -70px;
  }
  .footer-subscribe input[type="submit"] {
    background: red;
    position: relative;
    right: -155px;
    top: -47px;
  }
}
